.Tournament {
  color: white;
  padding: 10px;
}
.Tournament h3 {
  font-size: 40px;
}
.Tournament a {
  text-decoration: none;
  color: white;
}
.Tournament .game {
  border: 2px solid white;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  margin: 25px 0;
}
.Tournament .game .winner {
  color: green;
}
.Tournament .game .loser {
  color: red;
}
.Tournament form {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 2em;
}
.Tournament select {
  margin: 10px;
  font-size: 25px;
  color: black;
}
